#back-to-lists-btn{
  padding: 0 10px;
  display: block;
}
.with-items-right{
  width: 100%;
  text-align: right;
  li{
    display: inline-block;
  }
}
.no-border{
    border:none !important;
}
.active{
    .uk-icon{
        svg path{
            fill: red;
            stroke: red!important;
        }
    }
}
.comment-area{
    resize: vertical;
}
