#back-to-lists-btn{
  padding: 0 10px;
  display: block;
}
.with-items-right{
  width: 100%;
  text-align: right;
  li{
    display: inline-block;
  }
}
.no-border{
    border:none !important;
}
.active{
    .uk-icon{
        svg path{
            fill: red;
            stroke: red!important;
        }
    }
}
.comment-area{
    resize: vertical;
}
@media (max-width: 639px){
    .list-card-footer{
        .uk-flex{
            -ms-flex-pack: end;
            -webkit-justify-content: flex-end;
            justify-content: flex-end
        }
        button{
            padding: 0;
            border: none;
        }
    }
    .uk-card-title{
        font-size: 1.2rem;
    }
}
