<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='css/uikit.min.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="root"></div>
    <script src="./js/vendor/jquery-3.1.1.min.js"></script>
    <script src="./js/vendor/uikit.min.js"></script>
    <script src="/static/booklist.js"></script>
  </body>
</html>
