.wrapper {
    .loading-alert {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 5px;
      background: linear-gradient(90deg, transparent, #1e87f0, transparent);
      background-size: 500% 500%;
      -webkit-animation: headLoading 5s linear infinite;
      -moz-animation: headLoading 5s linear infinite;
      animation: headLoading 5s linear infinite;
      z-index: 999;
      display: none;
    }
    &.loading {
      .loading-alert{
        display: block;
      }
    }
}
@-webkit-keyframes headLoading {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes headLoading {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes headLoading {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}



$primary: #f4581b;
html{
    background: #f1f1f1;
    user-select: none;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
    // background: rgba(1, 1, 1, .1);
    box-shadow: 0 -3px 15px 0px #666;
    .uk-navbar-item{
    }
}
// .uk-button-primary{
//   background: $primary;
//   color: #f1f1f1;
//   &:hover{
//     background: #de602e;
//   }
// }
