.uk-navbar-item{
  &.uk-logo{
    img{
      width:70px;
    }
  }
}
nav.uk-navbar-container{
    left: 0;
}
@media screen and (max-width: 639px) {
    .uk-navbar{
        &-item{
            height: 60px;
            &.uk-logo img{
                width: 60px;
            }
            .user-picture{
                width: 45px;
            }
        }
    }
}
.header-dropdown{
    padding: 5px 0;
    li{
        padding: 10px 15px;
        margin: 0 !important;
    }
}
.uk-offcanvas-page-overlay{
    body, .wrapper, #root{
        height: 100vh;
        overflow: hidden;
        z-index: -1;
    }
}
.uk-offcanvas-overlay{
    transform: translate3d(0,0,0);
}
